* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', serif;
    margin: 0;
}

header {
    background-image: url(/public/images/header-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
}

.header-logo {
    height: auto;
    margin-left: 30px;
    margin-right: 20px;
    padding-top: 10px;
    width: 350px;
}

.header-nav {
    grid-template-columns:1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    padding-top: 10px;
}

.nav-bar {
    margin-right: 30px;
}

.nav-bar ul {
    padding-left: 0;
    float: right;
    margin: 1rem auto;
}

.nav-bar ul li {
    display: inline-block;
    list-style-type: none;
}

.nav-bar ul li a {
    color: #F1F1F1;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 18px;
    text-decoration: none;
}

.tablet-nav-bar {
    padding: 2px 0;
}

.tablet-nav-bar ul {
    padding-left: 0;
}

.tablet-nav-bar ul li {
    display: inline-block;
    padding-right: 18px;
    list-style: none;
}

.tablet-nav-bar ul li a {
    color: #F1F1F1;
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.header-title {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
}

.header-title h1 {
    color: #FFFFFF;
    margin-top: 20px;
}

.separator {
    border-style: none;
    border-top: 1px solid;
    color: #FFFFFF;
    margin: 15px 0;
}

body {
    margin: 0;
}

.content {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 10rem;
    max-width: 1200px;
}

.content h2 {
    color: #116149;
    font-family: 'Roboto', sans-serif;
}

.content p {
    font-family: 'Roboto', serif;
    font-size: 0.90rem;
    text-align: justify;
}

.content ul {
    padding-left: 0;
}

.content ul li {
    list-style: none;
}

.content ul li h4 {
    color: #13AA52;
    font-family: 'Roboto', serif;
    text-align: justify;
}

.content ul li p {
    margin: 5px 0 30px 0;
}

.dotted-line {
    border: dotted #CBCBCB 6px;
    border-bottom: none;
    margin: 2rem auto;
    width: 50px;
}

.theme-logo {
    margin: 2rem 0;
    padding: 10px;
    background: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 50, 0.10);
}

.theme-logo img {
    width: 100%;
    position: center;
}

footer {
    min-height: 8rem;
    background: #1A1A1A;
}

.footer-content {
    display: flex;
    padding: 30px;
    margin: 0 auto;
    min-height: 8rem;
    max-width: 1200px;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.get-in-touch {
    float: left;
    color: #B3B3B3;
}

.social-fb-icon {
    float: left;
    height: 32px;
    width: 32px;
    opacity: .67;
    margin: 5px 0;
}

.social-email-icon {
    float: left;
    height: 32px;
    width: 32px;
    opacity: .67;
    margin: 5px 0;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.copyright {
    color: #F1F1F1;
    float: right;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    opacity: .67;
}

@media screen and (max-width: 940px) {
    .nav-bar {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .header-title h1 {
        margin-top: 0;
    }

    .separator {
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 940px) {
    .tablet-nav-bar {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .separator {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 500px) {
    .hamburger {
        display: block;
    }

    .tablet-nav-bar {
        display: none;
    }

    .header-title h1 {
        margin-top: 35px;
    }

    .separator {
        padding-bottom: 15px;
    }
}